<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			Formulario de criação
		</div>

		<div class="panel-body">
			<div class="col-lg-12">
				<%= form_for(@calculation) do |f| %>
				<% if @calculation.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@calculation.errors.count, "error") %> prohibited this calculation from being saved:</h2>
					<ul>
						<% @calculation.errors.full_messages.each do |message| %>
						<li><%= message %></li>
						<% end %>
					</ul>
				</div>
				<% end %>
				<div class="inline">
					<div class="row">
						<div class="col-sm-4">
							<div class="field">
								<strong>Salario minimo </strong><br>
								<%= f.text_field :salario_minimo, :value => number_with_precision(f.object.salario_minimo,precision: 2, locale: :"pt-BR"),class:'form-control', placeholder:'0,01',style:"width:100%",:data => {:mask=> '99.99'} %>
							</div>
						</div>
						<!-- <button type="button" class="btn btn-primary btn-circle btn-xs pull-right"><i class="fa fa-info"></i></button> -->
						<!-- <button type="button" class="btn btn-primary btn-circle btn-xs pull-right"><i class="fa fa-info"></i></button> -->
						<!-- <button type="button" class="btn btn-primary btn-circle btn-xs pull-right"><i class="fa fa-info"></i></button> -->
						<!-- <button type="button" class="btn btn-primary btn-circle btn-xs pull-right"><i class="fa fa-info"></i></button> -->
						<!-- <button type="button" class="btn btn-primary btn-circle btn-xs pull-right"><i class="fa fa-info"></i></button> -->
						<!-- <button type="button" class="btn btn-primary btn-circle btn-xs pull-right"><i class="fa fa-info"></i></button> -->
						<!-- <button type="button" class="btn btn-primary btn-circle btn-xs pull-right"><i class="fa fa-info"></i></button> -->
						<!-- <button type="button" class="btn btn-primary btn-circle btn-xs pull-right"><i class="fa fa-info"></i></button> -->
						<!-- <button type="button" class="btn btn-primary btn-circle btn-xs pull-right"><i class="fa fa-info"></i></button> -->
						<!-- <button type="button" class="btn btn-primary btn-circle btn-xs pull-right"><i class="fa fa-info"></i></button> -->
						<!-- <button type="button" class="btn btn-primary btn-circle btn-xs pull-right"><i class="fa fa-info"></i></button> -->
						<!-- <button type="button" class="btn btn-primary btn-circle btn-xs pull-right"><i class="fa fa-info"></i></button> -->
						<!-- <button type="button" class="btn btn-primary btn-circle btn-xs pull-right"><i class="fa fa-info"></i></button> -->
						<!-- <button type="button" class="btn btn-primary btn-circle btn-xs pull-right"><i class="fa fa-info"></i></button> -->
						<!-- <button type="button" class="btn btn-primary btn-circle btn-xs pull-right"><i class="fa fa-info"></i></button> -->
						<!-- <button type="button" class="btn btn-primary btn-circle btn-xs pull-right"><i class="fa fa-info"></i></button> -->
						<div class="col-sm-4">
							<div class="field">
								<strong>FGTS </strong><br>
								<%= f.text_field :fgts, :value => number_with_precision(f.object.fgts,precision: 2, locale: :"pt-BR"),class:'form-control', placeholder:'0,01',style:"width:100%",:data => {:mask=> '99.99'} %>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="field">
								<strong>INSS </strong><br>
								<%= f.text_field :inss, :value => number_with_precision(f.object.inss,precision: 2, locale: :"pt-BR"),class:'form-control', placeholder:'0,01',style:"width:100%",:data => {:mask=> '99.99'} %>
							</div>
						</div>
					</div>
				</div>
				<div class="inline">
					<div class="row">
						<div class="col-sm-4">
							<div class="field">
								<strong>Sebrae </strong><br>
								<%= f.text_field :sebrae, :value => number_with_precision(f.object.sebrae,precision: 2, locale: :"pt-BR"),class:'form-control', placeholder:'0,01',style:"width:100%",:data => {:mask=> '99.99'} %>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="field">
								<strong>INCRA </strong><br>
								<%= f.text_field :incra, :value => number_with_precision(f.object.incra,precision: 2, locale: :"pt-BR"),class:'form-control', placeholder:'0,01',style:"width:100%",:data => {:mask=> '99.99'} %>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="field">
								<strong>Salario educação </strong><br>
								<%= f.text_field :salario_educacao, :value => number_with_precision(f.object.salario_educacao,precision: 2, locale: :"pt-BR"),class:'form-control', placeholder:'0,01',style:"width:100%",:data => {:mask=> '99.99'} %>
							</div>
						</div>
					</div>
				</div>
				<div class="inline">
					<div class="row">
						<div class="col-sm-4">
							<div class="field">
								<strong>Decimo terceiro salario </strong><br>
								<%= f.text_field :decimo_terceito, :value => number_with_precision(f.object.decimo_terceito,precision: 2, locale: :"pt-BR"),class:'form-control', placeholder:'0,01',style:"width:100%",:data => {:mask=> '99.99'} %>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="field">
								<strong>Um terço constitucional </strong><br>
								<%= f.text_field :um_terco_constitucional, :value => number_with_precision(f.object.um_terco_constitucional,precision: 2, locale: :"pt-BR"),class:'form-control', placeholder:'0,01',style:"width:100%",:data => {:mask=> '99.99'} %>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="field">
								<strong>Ferias </strong><br>
								<%= f.text_field :ferias, :value => number_with_precision(f.object.ferias,precision: 2, locale: :"pt-BR"),class:'form-control', placeholder:'0,01',style:"width:100%",:data => {:mask=> '99.99'} %>
							</div>
						</div>
					</div>
				</div>
				<div class="inline">
					<div class="row">
						<div class="col-sm-4">
							<div class="field">
								<strong>Porcentagem de INSS sobre a 1/12 avos de ferias, 1/3 constitucional e 13º Salario </strong><br>
								<%= f.text_field :pct_inss_sob_soma_decimo_um_terco_ferias, :value => number_with_precision(f.object.pct_inss_sob_soma_decimo_um_terco_ferias,precision: 2, locale: :"pt-BR"),class:'form-control', placeholder:'0,01',style:"width:100%",:data => {:mask=> '99.99'} %>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="field">
								<strong>Porcentagem de FGTS sobre a 1/12 avos de ferias, 1/3 constitucional e 13º Salario </strong><br>
								<%= f.text_field :pct_fgts_sob_soma_decimo_um_terco_ferias, :value => number_with_precision(f.object.pct_fgts_sob_soma_decimo_um_terco_ferias,precision: 2, locale: :"pt-BR"),class:'form-control', placeholder:'0,01',style:"width:100%",:data => {:mask=> '99.99'} %>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="field">
								<strong>Aviso previo </strong><br>
								<%= f.text_field :aviso_previo, :value => number_with_precision(f.object.aviso_previo,precision: 2, locale: :"pt-BR"),class:'form-control', placeholder:'0,01',style:"width:100%",:data => {:mask=> '99.99'} %>
							</div>
						</div>
					</div>
				</div>
				<div class="inline">
					<div class="row">
						<div class="col-sm-4">
							<div class="field">
								<strong>Indenização FGTS </strong><br>
								<%= f.text_field :indenizacao_fgts, :value => number_with_precision(f.object.indenizacao_fgts,precision: 2, locale: :"pt-BR"),class:'form-control', placeholder:'0,01',style:"width:100%",:data => {:mask=> '99.99'} %>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="field">
								<strong>Indice administrativo </strong><br>
								<%= f.text_field :indiceAdministrativo, :value => number_with_precision(f.object.indiceAdministrativo,precision: 2, locale: :"pt-BR"),class:'form-control', placeholder:'0,01',style:"width:100%",:data => {:mask=> '99.99'} %>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="field">
								<strong>Indice operacional </strong><br>
								<%= f.text_field :indiceOperacional, :value => number_with_precision(f.object.indiceOperacional,precision: 2, locale: :"pt-BR"),class:'form-control', placeholder:'0,01',style:"width:100%",:data => {:mask=> '99.99'} %>
							</div>
						</div>
					</div>
				</div>
				<div class="inline">
					<div class="row">
						<div class="col-sm-4">
							<div class="field">
								<strong>Horas de calculo adicional noturno </strong><br>
								<%= f.text_field :horasDeCalculoAdNoturno, :value => number_with_precision(f.object.horasDeCalculoAdNoturno,precision: 2, locale: :"pt-BR"),class:'form-control', placeholder:'0,01',style:"width:100%",:data => {:mask=> '99.99'} %>
							</div>
						</div>
					</div>
				</div>

				<div class="actions">
					<button type="submit" class="btn btn-outline btn-success">Salvar</button>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
