<h1 class="page-header topHeader">Lista de serviço</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Serviço</strong>
<%= link_to new_service_path,class:"btn btn-success dropdown-toggle pull-right botton-barra", type:"button" do %>
Nova serviço  
<% end %>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th style="width: 31px;text-align: center;">#</th>
            <th>Tipo serviço</th>
            <th>Empreza</th>
            <th>Desconto do VT</th>
            <th>Cesta</th>
            <th style="text-align: center; width: 12%">Atualizado</th>
            <th colspan="1" class="espaco3E" style="width: 10%"></th>
          </tr>
        </thead>

        <tbody>
          <% @services.each do |service| %>
          <tr>
            <td style="text-align: center;"><%= service.id %></td>
            <td><%= service.tipo_servico %></td>
            <td><%= service.company.name_company %></td>
            <td><%= service.desconto_vr %></td>
            <td><%= number_to_currency(service.cesta) %></td>
            <td style="text-align: center;"><%= update_date(service.updated_at) %></td>
            <td>
                <%= link_to service,class:"btn btn-default btn-sm ", type:"button",title:"Exibir" do %>
                <i class="fa fa-search"></i>
                <% end %>
                <%= link_to edit_service_path(service),class:"btn btn-default btn-sm ", type:" button",title:"Editar" do %>
                <i class="fa fa-edit"></i>
                <% end %>
                <!--<#%= link_to service, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-default btn-danger btn-sm ", type:"button",title:"Excluir" do %>
                <i class="fa fa-trash-o"></i>
                <#% end %>-->
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.panel-body -->
</div>