<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			Formulario de criação
		</div>

		<div class="panel-body">
			<div class="col-lg-12">
				<%= form_for(@equipament) do |f| %>
				<% if @equipament.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@equipament.errors.count, "error") %> prohibited this equipament from being saved:</h2>

					<ul>
						<% @equipament.errors.full_messages.each do |message| %>
						<li><%= message %></li>
						<% end %>
					</ul>
				</div>
				<% end %>      
			t.string :maca_mod
			t.text :obs_equipament
				<div class="inline">
					<div class="row">
						<div class="col-sm-4">
							<div class="field">
								<%= f.label :name_equipament %><br>
								<%= f.text_field :name_equipament, class:'form-control', placeholder:'Nome do Equipamento ou acessorios' %>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="field">
								<%= f.label :type_equipament_id %><br>
								<%= collection_select(:equipament, :type_equipament_id,@select_all_type, :id, :name_type,{},class:'form-control') %>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="field">
								<%= f.label :sub_type_id %><br>
								<%= collection_select(:equipament, :sub_type_id, @select_all_sub_type, :id, :name_sub_type,{},class:'form-control') %>
							</div>
						</div>
					</div>
				</div> 
				<div class="inline">
					<div class="row">
						<div class="col-sm-3">
							<div class="field">
								<%= f.label :valor %><br>
								<%= f.text_field :valor,:value => number_with_precision(f.object.valor,precision: 2, locale: :"pt-BR"), class:'form-control', placeholder:'Valor do Equipamento ou acessorios' %>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="field">
								<%= f.label :depreciacao %><br>
								<%= f.text_field :depreciacao, class:'form-control', placeholder:'Deprecição' %>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="field">
								<%= f.label "Requer Manutenção" %><br>
								<%= f.select :rec_manutencao, options_for_select([["Não",0],["Sim",1]], @equipament.rec_manutencao),{},class:'form-control' %>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="field">
								<%= f.label :fornecedor %><br>
								<%= f.text_field :fornecedor, class:'form-control', placeholder:'' %>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="field">
								<%= f.label :fornecedor %><br>
								<%= f.text_field :fornecedor, class:'form-control', placeholder:'' %>
							</div>
						</div>
					</div>
				</div>
				<div class="inline">
					<div class="row">
						<div class="col-sm-3">
							<div class="field">
								<%= f.text_area(:obs_equipament,size: "50x10",class:'form-control' ) %>
							</div>
						</div>
					</div>
				</div>
					<div class="actions">
						<button type="submit" class="btn btn-outline btn-success">Salvar</button>
					</div>
					<% end %>

		</div>
	</div>
</div>
