<h1 class="page-header topHeader">Lista de Equipamentos e Acessorios
		<%= link_to sub_types_path,class:"btn btn-default dropdown-toggle pull-right", type:"button" do %>
		Nova Categoria-Sub
		<% end %>
		<%= link_to type_equipaments_path,class:"btn btn-default dropdown-toggle pull-right", type:"button" do %>
		Nova Categoria  
		<% end %>
</h1>
<div class="panel panel-default">
	<div class="panel-heading">
		<strong>Equipamentos e Acessorios</strong>
		<%= link_to new_equipament_path,class:"btn btn-success dropdown-toggle pull-right botton-barra", type:"button" do %>
		Novo Equipameto ou Acessorios  
		<% end %>    
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table id="equipamentTab" class="table table-striped table-bordered table-hover" style="overflow: scroll;width: 1800px;">
				<thead>
					<tr>
						<th style="width:8px;text-align:center; ">#</th>
						<th >Equipamento</th>
						<th style="width: 126px;padding-left: 5px;padding-right: 5px;">Categora Principal</th>
						<th style="width: 126px;padding-left: 5px;padding-right: 5px;">Sub-categoria</th>
						<th>Valor</th>
						<th>Dpr</th>
						<th style="width: 137px; text-align: center;">valor atualizado</th>
						<th style="width: 600px;">Observações</th>
						<th colspan="1" class="espaco3E" style="width: 71px"></th>
					</tr>
				</thead>
				<tbody>
					<% @equipaments.each do |equipament| %>
					<tr>
						<div class="panel panel-default" style="display:none">
						</div>

						<td style="text-align:center;"><%= equipament.id %></td>
						<td><%= equipament.name_equipament %></td>
						<td><%= equipament.type_equipament.name_type %></td>
						<td><%= equipament.sub_type.name_sub_type %></td>
						<td><%= number_to_currency(equipament.valor) %></td>
						<td style="text-align:center;"><%= (equipament.depreciacao).round(0) %></td>
						<td style="padding-right: 0px;padding-left: 2px;text-align: center;"><%= update_date(equipament.updated_date_valor) %></td>
						<td><%= equipament.obs_equipament %></td>
						<td>
							<%= link_to equipament,class:"btn btn-default btn-sm ", type:"button",title:"Exibir" do %>
								<i class="fa fa-search"></i>
							<% end %>
							<%= link_to edit_equipament_path(equipament),class:"btn btn-default btn-sm ", type:" button",title:"Editar" do %>
								<i class="fa fa-edit"></i>
							<% end %>
							<!--<#%= link_to equipament, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-default btn-danger btn-sm ", type:"button",title:"Excluir" do %>
								<i class="fa fa-trash-o"></i>
							<#% end %>-->
						</td>
					</tr> 
					<% end %>
				</tbody>
			</table>
		</div>
		<!-- /.table-responsive -->
	</div>
	<!-- /.panel-body -->
</div>