</br>
<div class="panel panel-default">
	<div class="panel-heading">
		<strong>Equipamento ou Acessorio</strong>

	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th style="width: 168px;">Nome do Campo</th>
						<th>Valor do campo</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td><strong>Name equipament:</strong></td>
						<td><%= @equipament.name_equipament %></td>
					</tr>

					<tr>
						<td><strong>Valor:</strong></td>
						<td><%= @equipament.valor %></td>
					</tr>

					<tr>
						<td><strong>Categora Principal:</strong></td>
						<td><%= @equipament.type_equipament.name_type %></td>
					</tr>
					<tr>
						<td><strong>Sub-categoria:</strong></td>
						<td><%= @equipament.sub_type.name_sub_type %></td>
					</tr>
					<tr>
						<td><strong>Requer Manutenção:</strong></td>
						<td><%if @equipament.rec_manutencao==1 %>
									Sim
								<%elsif @equipament.rec_manutencao==0 %>
									Não
								<% else %>
									Não definido
								<% end %>
						</td>
					</tr>
					<tr>
						<td><strong>Fornecedor:</strong></td>
						<td><%= @equipament.fornecedor %></td>
					</tr>
					<tr>
						<td><strong>Marca ou modelo:</strong></td>
						<td><%= @equipament.marca_mod %></td>
					</tr>
					<tr>
						<td><strong>Obs. Equipamento:</strong></td>
						<td><%= @equipament.obs_equipament %></td>
					</tr>

				</tbody>
			</table>
			<%= link_to equipaments_path,class:"btn btn-default btn-sm ajusteButton", type:"button" do %>
			<i class="fa fa-arrow-left"></i> Voltar
			<% end %>
			<%= link_to edit_equipament_path(@equipament),class:"btn btn-default btn-sm ajusteButton", type:"button" do %>
			<i class="fa fa-edit"></i> Editar
			<% end %>
		</div>
		<!-- /.table-responsive -->
	</div>
	<!-- /.panel-body -->
</div>