<% x = 2%>
<% if x == 1%>

	<h1 class="page-header">Paagina pricipal</h1>
		<!-- <!DOCTYPE html>
		<html lang="pt-BR">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="description" content="">
			<meta name="author" content="">
			<title>ProposalGenerate</title>
			<#%= wicked_pdf_stylesheet_link_tag  'application' %>
			<#%= wicked_pdf_javascript_include_tag "number_pages" %>
			<#%= csrf_meta_tags %>
		</head>-->
		<body><!--<%# @select_all_calculation.salario_minimo %>-->
			<div class="showFonteSize" style="padding-left: 0;padding-right: 0;">
				<div class="row">
					<div class="col-lg-12" style="padding-left: 0;padding-right: 0;">
						<div class="bottons pull-right topHeader" style="position:fixed;right: 2%;z-index: 100">
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="font-30px"><strong>Cliente:</strong> <%= @proposal.cliente %></span> 
						<span class="pull-right font-20px" style="bottom: 5px;position: relative;" >Proposta:<br> <%= @proposal.codigo_cliente %></span>
					</div>
					<div class="panel-body paddin-left-right">
						<div class="col-lg-12 paddin-left-right"> 
							<div class="row">
								<div class="inline">
									<div class="col-lg-5">
										<p class="showFonteSize font-12px">
											<span class=""><strong>Cidade:</strong><%= (@proposal.city.nome) %></span>
										</p>
										<p class="showFonteSize font-12px">
											<span class=""><strong>Data de criação:</strong><%= criate_date(@proposal.created_at) %></span>
										</p>
									</div>
									<div class="col-lg-5">
										<div class="">
											<p class="showFonteSize font-12px ">
												<strong>Escala:</strong> 
												<%= @proposal.rotation.tipo_escala %>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default margin-5">
							<div class="panel-heading">
								<strong> Cargos e Salarios </strong>
							</div>
							<div class="panel-body paddin-botton-0">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover ">
										<thead>
											<tr>
												<th>Cargos</th>
												<th>Salarios</th>
												<th>Efetivo </th>
												<th>Qtd. de postos</th>
												<th>Funcionarios p/ escala</th>
												<th>Salário efetivo</th>
												<th>Salário efetivo total</th>
											</tr>
										</thead>
										<tbody>
											<% @proposal.proposal_roles.each do |proposal_role| %>
											<tr>
												<!--td><%#= proposal_role.role.service.company.id %></td-->
												<td class="showFonteSize">
													<%= proposal_role.cargo %>
												</td><!--Nome do cargo-->
												<td class="showFonteSize" class="showFonteSize">
													<%= number_to_currency(((@proposal.salario).round(2)*(((proposal_role.gratificacao.to_f).round(2)/100)+1)).round(2))%>
												</td><!--Salario com a gratificação-->
												<td class="showFonteSize">
													<%= @proposal.efetivo_indivitual %><!--valor total do efetivo-->
												</td>
												<td class="showFonteSize">
													<%=  proposal_role.qtd_postos %>
												</td><!--Quandidade de funcionarios-->
												<td class="showFonteSize">
													<%=  @proposal.efetivo_total %><!--Quandidade de funcionarios-->
												</td>
												<td class="showFonteSize">
													<%=  number_to_currency(((((@proposal.salario).round(2))*
														(((proposal_role.role.gratificacao.to_f).round(2)/100)+1)).round(2)*
														(@proposal.rotation.efetivo/@proposal.rotation.qtd_funcionarios.to_f)).round(2))%>
													</td><!--Salario com  e efetivo-->
													<td class="showFonteSize">
														<%=  number_to_currency((((((proposal_role.salario.to_f)*(((proposal_role.gratificacao.to_f)/100)+1))*
														(@proposal.rotation.efetivo/@proposal.rotation.qtd_funcionarios.to_f)))*(@proposal.rotation.qtd_funcionarios*proposal_role.qtd_postos)).round(2)) %>
													</td><!--Quandidade de funcionarios-->
												</tr>
												<% end %>
											</tbody>
										</table>
									</div>
									<!-- /.table-responsive -->
									<strong>Total de efetivo: </strong><%= (@proposal.efetivo_total).round(2)%><br>
									<strong>Total dos salarios da escala: </strong><%= number_to_currency(@proposal.total_salarios) %><br><!--Salarios totais-->
								</div>
								<!-- /.panel-body -->
							</div>

							<div class="panel panel-default margin-5">
								<div class="panel-heading">
									<strong> Mão de obra direta </strong>
								</div>
								<div class="panel-body paddin-botton-0">
									<div class="table-responsive">
										<table class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th class="padraoEspaco1">Nome do campo de calculo:</th>
													<th class="padraoEspaco2">Valor do campo p/ calculo:</th>
													<th>Total</th>
												</tr>
											</thead>
											<tbody>
												<%if  @proposal.adcional_periculosidade_insalubridade == 1 %>
												<tr>
													<td class="showFonteSize"> Valor de Periculosidade:</td>  
													<td class="showFonteSize">30% de <%=number_to_currency(@proposal.salario)%></td>
													<td class="showFonteSize"><%=number_to_currency(0.3*@proposal.salario)%></td>
												</tr>
												<% elsif @proposal.adcional_periculosidade_insalubridade == 2  %>
												<tr>
													<td class="showFonteSize"> Valor de Insalubridade:</td>  
													<td class="showFonteSize"><%=((@proposal.grau_de_insalubridade)*100).round(0)%> % de 
														<%= number_to_currency(@select_all_calculation.salario_minimo)%></td> 
														<td class="showFonteSize"><%=number_to_currency(@proposal.grau_de_insalubridade*@select_all_calculation.salario_minimo)%></td> 
													</tr>
											<!--                <#%else%>
												<tr>                 
													<td class="showFonteSize"> Maior valor entre insalubridade e periculosidade: </b></td>  
													<td class="showFonteSize"> Aplicavel: <b><#% if @proposal.valorPeriOuIsalubri == 0 %>
														"Não"
													<#%else%>
														"Sim"
													<#% end %> </td>  
													<td class="showFonteSize"> <#%=number_to_currency(@proposal.valorPeriOuIsalubri)%>  </td>  
												</tr> -->
												<%end %>
												<% if @proposal.total_hr_extras >0 %>
												<tr>                 
													<td class="showFonteSize"> Hora extra intervalo e jornada: <b></td>  
														<td class="showFonteSize"> <%= ((@proposal.horas_extras).round(2))%> Hs</td>  
														<td class="showFonteSize"> <%= number_to_currency(@proposal.total_hr_extras) %></td>  
													</tr>
													<% end %>
													<tr>
														<td class="showFonteSize"> Hora Feriado: </td>  
														<td class="showFonteSize"> <%= (((@proposal.valor_feriados_de_cities_mv*@proposal.dois_terco)+
														(@proposal.valor_feriados_de_cities_n*@proposal.um_terco)).round(2)).round(2) %> Hs</td>  
														<td class="showFonteSize"> <%= number_to_currency(@proposal.total_hr_extras_feriado) %></td>  
													</tr>
													<tr>
														<td class="showFonteSize">  Adicional noturno - vespertino:</td>  
														<td class="showFonteSize"> <%= (((@proposal.rotation.ad_vespertido_noturno*100)/@select_all_calculation.horasDeCalculoAdNoturno).round(4)*
														@proposal.rotation.fator_escala).round(4)%> Hs</td>  
														<td class="showFonteSize"> <%= number_to_currency(@proposal.total_hrs_ad_noturno_vespertino) %></td>  
													</tr>
													<tr>
														<td class="showFonteSize">  Adicional noturno - noturno:</td>  
														<td class="showFonteSize"> <%=(((@proposal.ajuste_div_por_zero * 60)/@select_all_calculation.horasDeCalculoAdNoturno).round(6) * 
														@proposal.rotation.fator_escala * @proposal.rotation.ad_noturno).round(4) %> Hs</td>  
														<td class="showFonteSize"> <%= number_to_currency(@proposal.total_hrs_ad_noturno) %></td>  
													</tr>
													<tr>
														<td class="showFonteSize">Reflexos sobre a folha - DSR:</td>  
														<td class="showFonteSize"> <%= %> </td>  
														<td class="showFonteSize"> <%= number_to_currency(@proposal.refexo_dsr) %></td>  
													</tr>
													<tr>
														<td class="showFonteSize"> Salário médio base final:</td>  
														<td class="showFonteSize"> <%= %> </td>  
														<td class="showFonteSize"> <%= number_to_currency(@proposal.salario_medio_final) %></td>  
													</tr>
												</tbody>
											</table>
										</div>
										<p class="showFonteSize">
											<strong>Total massa salarial: </strong><%=number_to_currency((@proposal.massa_salarial).round(2))%>
										</p>
									</div>
								</div>
								<div class="panel panel-default margin-5 ">
									<div class="panel-heading">
										<strong> Obrigações sociais sobre massa salarial:</strong>
									</div>
									<div class="panel-body paddin-botton-0">
										<div class="table-responsive">
											<table class="table table-striped table-bordered table-hover">
												<thead>
													<tr >
														<th class="padraoEspaco1">Tributo: </th>
														<th class="padraoEspaco2">Valor em porcentagem: </th>
														<th>Valor total sobre massa salarila:</th>
													</tr>
												</thead>
												<tbody> 
													<tr>
														<td class="showFonteSize">FGTS</td>
														<td class="showFonteSize"><%=@select_all_calculation.fgts%><span>%</span></td>
														<td class="showFonteSize"><%=number_to_currency(@proposal.obg_fgts)%></td>
													</tr>
													<tr>
														<td class="showFonteSize">INSS</td>
														<td class="showFonteSize"><%=@select_all_calculation.inss%><span>%</span></td>
														<td class="showFonteSize"><%=number_to_currency(@proposal.obg_inss)%></td>
													</tr>
													<tr>
														<td class="showFonteSize">Seguro acidente de trabalho</td>
														<td class="showFonteSize"><%=@proposal.seguro_aci_trabalho%><span>%</span></td>
														<td class="showFonteSize"><%=number_to_currency(@proposal.obgseguro_aci_trabalho)%></td>
													</tr>
													<tr>
														<td class="showFonteSize">Sebrae</td>
														<td class="showFonteSize"><%=@select_all_calculation.sebrae%><span>%</span></td>
														<td class="showFonteSize"><%=number_to_currency(@proposal.obg_sebrae)%></td>
													</tr>
													<tr>
														<td class="showFonteSize">Incra</td>
														<td class="showFonteSize"><%=@select_all_calculation.incra%><span>%</span></td>
														<td class="showFonteSize"><%=number_to_currency(@proposal.obg_incra)%></td>
													</tr>
													<tr>
														<td class="showFonteSize">Salario educação</td>
														<td class="showFonteSize"><%=@select_all_calculation.salario_educacao%><span>%</span></td>
														<td class="showFonteSize"><%=number_to_currency(@proposal.obg_salario_educacao)%></td>
													</tr>
													<tr>
														<td class="showFonteSize">Sesc</td>
														<td class="showFonteSize"><%=@select_all_calculation.sesc%><span>%</span></td>
														<td class="showFonteSize"><%=number_to_currency(@proposal.obg_sesc)%></td>
													</tr>
													<tr>
														<td class="showFonteSize">Senac</td>
														<td class="showFonteSize"><%=@select_all_calculation.senac%><span>%</span></td>
														<td class="showFonteSize"><%=number_to_currency(@proposal.obg_senac)%></td>
													</tr>
												</tbody>
											</table>
										</div>
										<p class="showFonteSize">
											<strong>Total de encargos diretos: </strong><%=number_to_currency(@proposal.total_incargos_diretos)%>
										</p>
									</div>
								</div>

								<div class="panel panel-default margin-5"> 
									<div class="panel-heading">
										<strong>Provisões sobre massa salarial:</strong>
									</div>
									<div class="panel-body paddin-botton-0">
										<div class="table-responsive">
											<table class="table table-striped table-bordered table-hover">
												<thead>
													<tr >
														<th class="padraoEspaco1">Provisões </th>
														<th class="padraoEspaco2">Valor em porcentagem: </th>
														<th>Valor total sobre provisões salarila:</th>
													</tr>
												</thead>
												<tbody> 
													<tr>
														<td class="showFonteSize">1/12 de Ferias</td>
														<td class="showFonteSize"><%=@select_all_calculation.ferias%><span>%.</span></td>
														<td class="showFonteSize"><%=number_to_currency(@proposal.total_ferias_um_doze_avos)%></td>
													</tr>
													<tr>
														<td class="showFonteSize">1/3 constitucional (1/12 avos)</td>
														<td class="showFonteSize"><%=@select_all_calculation.um_terco_constitucional%><span>%.</span></td>
														<td class="showFonteSize"><%=number_to_currency(@proposal.total_um_terco_consti_um_doze_avos)%></td>
													</tr>
													<tr>
														<td class="showFonteSize"> 13º salario (1/12 avos)</td>
														<td class="showFonteSize"><%=@select_all_calculation.decimo_terceito%><span>%.</span></td>
														<td class="showFonteSize"><%=number_to_currency(@proposal.total_decimo_terceiro_um_doze_avos)%></td>
													</tr>
													<tr>
														<td class="showFonteSize">Inss Sob Ferias, 1/3 constitucional (1/12 avos), 13º salario (1/12 avos) </td>
														<td class="showFonteSize"><%=@select_all_calculation.pct_inss_sob_soma_decimo_um_terco_ferias%><span>%.</span></td>
														<td class="showFonteSize"><%=number_to_currency(@proposal.total_inss_sob_ferias_um_terco_decimo)%></td>
													</tr>
													<tr>
														<td class="showFonteSize"> FGTS 13º, salario 1/3 constitucional, (1/12 avos), 13º salario (1/12 avos)</td>
														<td class="showFonteSize"><%=@select_all_calculation.pct_fgts_sob_soma_decimo_um_terco_ferias%><span>%.</span></td>
														<td class="showFonteSize"><%=number_to_currency(@proposal.total_fgts_sob_ferias_Um_terco_decimo)%></td>
													</tr>
													<tr>
														<td class="showFonteSize">Aviso previo</td>
														<td class="showFonteSize"><%=@select_all_calculation.aviso_previo%><span>%.</span></td>
														<td class="showFonteSize"><%=number_to_currency(@proposal.total_aviso_previo)%></td>
													</tr>
													<tr>
														<td class="showFonteSize"> FGTS indenização sobre FGTS total</td>
														<td class="showFonteSize"><%=@select_all_calculation.indenizacao_fgts%><span>%.</span></td>
														<td class="showFonteSize"><%=number_to_currency(@proposal.total_indenizacao_sobre_fgts)%></td>
													</tr>
							<!--                    <tr>
							<td class="showFonteSize">Reserva tecnica (campo obsoleto)</td>
							<td class="showFonteSize"><#%=@proposal.company.pct_reserva_tecnica%><span>%.</span></td>
							<td class="showFonteSize"><#%=number_to_currency(@proposal.reservaTecnica)%></td>
						</tr> -->
					</tbody>
				</table>
			</div>
			<p class="showFonteSize">
				<strong>Total de provisões sobre massa salarial: </strong><%=number_to_currency(@proposal.total_provisao_massa_salarial)%>
			</p>
		</div>
	</div>
	<div class="panel panel-default margin-5">
		<div class="panel-heading">
			<strong>Benefícios dos Funcionário:</strong>
		</div>  
		<div class="panel-body paddin-botton-0">
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th class="padraoEspaco1">Beneficio </th>
							<th>Quantidade </th>
							<th class="padraoEspaco3">valor unitario: </th>
							<th>Valor total:</th>
						</tr>
					</thead>
					<tbody> 
						<tr>
							<td class="showFonteSize">Cesta</td>
							<td class="showFonteSize"><%=@proposal.efetivo_total%></td>
							<td class="showFonteSize"><%=number_to_currency(@proposal.valor_cesta)%></td>
							<td class="showFonteSize"><%=number_to_currency(@proposal.total_cesta)%></td>
						</tr>
						<tr>
							<td class="showFonteSize">Vale refeição.</td>
							<td class="showFonteSize"><%=@proposal.multiplicador %></td>
							<td class="showFonteSize"><%=number_to_currency(@proposal.valor_unitario_vr)%></td>
							<td class="showFonteSize"><%=number_to_currency(@proposal.total_vr)%></td>
						</tr>
						<tr>
							<td class="showFonteSize">Assitencia medica</td>
							<!--<%#if %>-->
							<td class="showFonteSize"><%=@proposal.efetivo_total%></td>
							<td class="showFonteSize"><%=number_to_currency(@proposal.valor_uni_assist_medica)%></td>
							<td class="showFonteSize"><%=number_to_currency(@proposal.total_assitecia_medica)%></td>
						</tr>
						<tr>
							<td class="showFonteSize">Seguro de vida</td>
							<td class="showFonteSize"><%=@proposal.efetivo_total%></td>
							<td class="showFonteSize"><%=number_to_currency(@proposal.valor_unitario_seg_vida)%></td>
							<td class="showFonteSize"><%=number_to_currency(@proposal.total_seguro_vida)%></td>
						</tr>
						<tr>
							<td class="showFonteSize">Vale Trasporte.</td>
							<td class="showFonteSize"><%=(2*@proposal.qtd_vt_pagas.to_f).round(1)%></td>
							<td class="showFonteSize"><%=number_to_currency(@proposal.valor_passagem)%></td>
							<td class="showFonteSize"><% if @proposal.total_vt == 0.00%>
								"Não será cobrado"
								<%else%>
								<%=number_to_currency(@proposal.total_vt)%>
								<%end %></td>
							</tr>
							<tr>
								<td class="showFonteSize">Reciclagem</td>
								<td class="showFonteSize"><%=@proposal.efetivo_total%></td>
								<td class="showFonteSize"><%=number_to_currency(@proposal.rotation.v_reciclagem)%></td>
								<td class="showFonteSize"><%=number_to_currency(@proposal.total_reciclagem)%></td>
							</tr>
							<% if @proposal.company.id == 2 %>  
							<tr>
								<td class="showFonteSize">PPR</td>
								<td class="showFonteSize"><%=@proposal.efetivo_total%></td>
								<td class="showFonteSize"><%=number_to_currency(@proposal.valor_unitario_ppr)%></td>
								<td class="showFonteSize"><%=number_to_currency(@proposal.total_ppr)%></td>
							</tr>
							<%end%>
							<tr>
								<td class="showFonteSize">Uniformes</td>
								<td class="showFonteSize"><%=@proposal.efetivo_total%></td>
								<td class="showFonteSize"><%=number_to_currency(@proposal.valor_unitario_uniforme)%></td>
								<td class="showFonteSize"><%=number_to_currency(@proposal.total_uniforme)%></td>
							</tr>
							<% if @proposal.company.id == 2%> 
							<tr>
								<td class="showFonteSize"> Assistência Social Familiar</td>
								<td class="showFonteSize"><%=@proposal.efetivo_total%></td>
								<td class="showFonteSize"><%=number_to_currency(@proposal.valor_soc_familiar)%></td>
								<td class="showFonteSize"><%=number_to_currency(@proposal.tot_social_familiar)%></td>
							</tr>
							<tr>
								<td class="showFonteSize"> Benefício Natalidade</td>
								<td class="showFonteSize"><%=@proposal.efetivo_total%></td>
								<td class="showFonteSize"><%=number_to_currency(@proposal.valor_ben_natalidade)%></td>
								<td class="showFonteSize"><%=number_to_currency(@proposal.tot_ben_natalidade)%></td>
							</tr>
							<%end%>
						</tbody>
					</table>
				</div>
				<p class="showFonteSize">
					<strong>Total dos beneficios: </strong><%=number_to_currency(@proposal.total_beneficios)%>
				</p>
			</div>
		</div>

		<!--Colocar aqui -->

		<% if @proposal.proposal_equipaments.blank?%>
		<div class="panel panel-default" style="display:none">
		</div>
		<h5><strong>Total (I+II) - Mão de Obra:</strong><%= number_to_currency((@proposal.total_mao_de_obra+@proposal.total_equipamento).round(2))%></h5>
		<% else%>
		<h5><strong>Total de mão de obra ( I ):</strong><%= number_to_currency((@proposal.total_mao_de_obra).round(2))%></h5>
		<hr/>
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Equipamentos e acessorios:</strong>
			</div>  
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th class="padraoEspaco1">Nome do equipamento</th>
								<th class="padraoEspaco2">Quantidade de equipamento</th>
								<th>Preço depreciado total</th>
							</tr>
						</thead>

						<tbody>
							<% @proposal.proposal_equipaments.each do |proposal_equipament| %>
							<tr>
								<!--<#% if proposal_equipament.name_equipament.nil? %>-->
								<td class="showFonteSize"><%= proposal_equipament.name_equipament %></td>
								<td class="showFonteSize"><%= proposal_equipament.quantidade %></td>
								<!-- corrigi -->
								<td class="showFonteSize"><%= number_to_currency(proposal_equipament.valor_depreciado)%></td>
								<!--<#% else %>-->
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<p class="showFonteSize">
					<strong>Valor Total dos equipamentos:</strong><%= number_to_currency(@proposal.total_equipamento) %>
				</p>
			</div>
		</div>
		<h5><strong>Total (II) - Mão de Obra + Materiais e Equipamentos:</strong><%= number_to_currency((@proposal.total_mao_de_obra+@proposal.total_equipamento).round(2))%></h5>
		<% end %>
		<hr/>
		<div class="panel panel-default margin-5 ">
			<div class="panel-heading">
				<strong><h4>Operação, Administração, Materiais e Equipamentos:</h4></strong>
			</div>  
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th class="padraoEspaco1">Operação </th>
								<th colspan="3"> </th>
							</tr>
						</thead>
						<tbody> 
							<tr>
								<td class="showFonteSize">Gestão operacional</td>
								<td class="showFonteSize"><%=@select_all_calculation.indiceOperacional%></td>
								<td class="showFonteSize" style="width: 29%;"><%=number_to_currency(@proposal.valor_indice_operacional)%></td>
							</tr>
							<tr>
								<td class="showFonteSize">Reserva tecnica operacional</td>
								<td class="showFonteSize"><%=@proposal.company.pct_reserva_tecnica%></td>
								<td class="showFonteSize" style="width: 29%;"><%=number_to_currency(@proposal.reserva_tecnica)%></td>
							</tr>
						</tbody>
					</table>
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th class="padraoEspaco1">Adminstração </th>
								<th colspan="2"> </th>
							</tr>
						</thead>
						<tbody> 
							<tr>
								<td class="showFonteSize"> Gestão administrativa</td>
								<td class="showFonteSize"><%=@select_all_calculation.indiceAdministrativo%></td>
								<td class="showFonteSize" style="width: 29%;"><%=number_to_currency((@proposal.valor_indice_administrativo).round(2))%></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div> 
		<h5><strong >Total (III) - Operação e Administração: </strong><%=number_to_currency(@proposal.reserva_operacional_adminstrativo)%></h4>
			<hr/>
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Impostos </strong>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th class="padraoEspaco1">Nome do campo de calculo:</th>
									<th class="padraoEspaco2">Valor do campo p/ calculo:</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="showFonteSize">Valor Issqn:</td>                
									<td class="showFonteSize"><%= @proposal.city.issqn %><span>%</span></td>  
									<td class="showFonteSize"><%= number_to_currency((@proposal.valor_issqn).round(2)) %></td>
								</tr>
								<tr>                 
									<td class="showFonteSize">Valor Irrf:</td>  
									<td class="showFonteSize"><%= @proposal.company.irrf %><span>%</span></td>
									<td class="showFonteSize"><%= number_to_currency((@proposal.valor_irrf).round(2)) %></td>  
								</tr>
								<tr>                 
									<td class="showFonteSize">Valor Csll:</td>  
									<td class="showFonteSize"><%= @proposal.company.csll %><span>%</span></td>  
									<td class="showFonteSize"><%= number_to_currency((@proposal.valor_csll).round(2)) %></td>  
								</tr>
								<tr>
									<td class="showFonteSize">Valor Pis:</td>  
									<td class="showFonteSize"><%= @proposal.company.pis %><span>%</span></td>
									<td class="showFonteSize"><%= number_to_currency((@proposal.valor_pis).round(2)) %></td>
								</tr>
								<tr>
									<td class="showFonteSize">Valor Confins:</td>  
									<td class="showFonteSize"><%= @proposal.company.cofins %><span>%</span></td> 
									<td class="showFonteSize"><%= number_to_currency((@proposal.valor_cofins).round(2)) %></td> 
								</tr>
							</tbody>
						</table>
						<p class="showFonteSize">
							<strong>Total de Impostos sobre serviços: </strong><%=number_to_currency((@proposal.total_imposto_sob_servico).round(2))%>
						</p>
					</div>
				</div>
			</div>
			<h5>
				<strong>Total (IV) - Impostos sobre serviços </strong><%=number_to_currency((@proposal.total_imposto_sob_servico).round(2))%>
			</h5>
			<hr/>   
			<h5>
				<strong>DEMONSTRATIVO  DO  CUSTO  FINAL:</strong>
				<ul class="proposal-roda-pe">
					<li>Valor dos Serviços: <%= number_to_currency(@proposal.tot_com_reserva_indce_op_indice_adm.round(2))%></li>
					<li>Valor de Impostos: <%=number_to_currency((@proposal.total_imposto_sob_servico).round(2))%></li>
					<li><strong>Valor de Ajuste de Escala: </strong><%=number_to_currency(@proposal.valor_de_ajuste)%></li>
				</ul>
			</h5>
			<h5 class="page-header topHeader"><strong>VALOR TOTAL MENSAL:</strong> <%=number_to_currency((@proposal.total_para_ajuste).round(2))%></h5>
			<ul class="proposal-roda-pe">
				<li><strong>Média de dias / mês: </strong><%=@proposal.rotation.fator_escala%></li>
				<li>
					<% @proposal.proposal_roles.each do |proposal_role| %>
					<strong>Numero de Funcionarios: </strong><%=@proposal.rotation.qtd_funcionarios*proposal_role.qtd_postos%>
					<%end%>
				</li>
				<li><strong>N.º horas / mês: </strong> <%=@proposal.horas_mes.round%></li>
				<li><strong>Valore Hora: </strong><%=number_to_currency(@proposal.valor_horas_proposta)%></li>
				<li><strong>Valor Dia: </strong><%=number_to_currency(@proposal.valor_dia_proposta)%></li>
			</ul>
							<!-- <h5><strong>(campo não sera impresso) Valor real da Proposta:</strong></h5>
								<hr/>
									<ul class="proposal-roda-pe">
										<li>Valor dos Serviços: <#%= number_to_currency(@proposal.valor_de_calculo_total.round(2))%></li>
									</ul> -->
									<% if @proposal.proposal_equipaments.blank? %>
									<div class="panel panel-default" style="display:none">
									</div>
									<% else%>
									<div class="panel panel-default">
										<div class="panel-heading">
											<strong>Equipamentos e acessorios:</strong>
										</div>  
										<div class="panel-body">
											<div class="table-responsive">
												<table class="table table-striped table-bordered table-hover">
													<thead>
														<tr>
															<th class="padraoEspaco1">Nome do equipamento</th>
															<th class="padraoEspaco2">Quantidade de equipamento</th>
															<th>Preço depreciado total</th>
														</tr>
													</thead>
													<tbody>
														<% @proposal.proposal_equipaments.order("updated_at").each do |proposal_equipament| %>
														<tr> 
															<!--<#% if proposal_equipament.name_equipament.nil? %>-->
															<td class="showFonteSize"><%= proposal_equipament.name_equipament %></td>
															<td class="showFonteSize"><%= proposal_equipament.quantidade %></td>
															<!-- corrigi -->
															<td class="showFonteSize"><%= number_to_currency(proposal_equipament.valor_depreciado)%></td>
															<!--<#% else %>-->
															<!--<#% end %>--> 
														</tr>
														<% end %>
													</tbody>
												</table>
												<strong>Valor Total dos equipamentos:</strong><%= number_to_currency(@proposal.total_equipamento) %>
											</div>
										</div>
									</div>
									<% end %>
								</div><!-- /.col-lg-12 -->
							</div>
						</div>
					</div>
				</div>
			</div>
<% else %>
	<h1 class="page-header">Pagina pricipal</h1>
									</div><!-- /.col-lg-12 -->
<% end %>