<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Formulario de criação
    </div>

    <div class="panel-body">
      <div class="col-lg-12">
        <%= form_for(@company) do |f| %>
        <% if @company.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

          <ul>
            <% @company.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <div class="inline">
          <div class="row">
            <div class="col-sm-4">
              <div class="field">
                <%= f.label :name_company %><br>
                <%= f.text_field :name_company,class:'form-control', placeholder:'Nome da Compania' %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="field">
                <%= f.label :irrf %><br>
                <%= f.text_field :irrf,class:'form-control', step: 0.01 %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="field">
                <%= f.label :csll %><br>
                <%= f.text_field :csll,class:'form-control', step: 0.01 %>
              </div>
            </div>
          </div>
        </div>
        <div class="inline">
          <div class="row">
            <div class="col-sm-4">
              <div class="field">
                <%= f.label :pis %><br>
                <%= f.text_field :pis,class:'form-control', step: 0.01 %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="field">
                <%= f.label :cofins %><br>
                <%= f.text_field :cofins,class:'form-control', step: 0.01 %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="field">
                <%= f.label :seguro_aci_trabalho %><br>
                <%= f.text_field :seguro_aci_trabalho ,class:'form-control', step: 0.01%>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="field">
                <%= f.label "Reserva técnica" %><br>
                <%= f.text_field :pct_reserva_tecnica ,class:'form-control', step: 0.01%>
              </div>
            </div>
          </div>
        </div>
        <div class="actions">
          <button type="submit" class="btn btn-outline btn-success">Salvar</button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>