</br>
<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Compania</strong>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Nome do Campo</th>
            <th>Valor do campo</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td><strong>Namecompany:</strong></td>
            <td><%= @company.name_company %></td>
          </tr>

          <tr>
            <td><strong>Irrf:</strong></td>
            <td><%= @company.irrf %></td>
          </tr>

          <tr>
            <td><strong>Csll:</strong></td>
            <td><%= @company.csll %></td>
          </tr>

          <tr>
            <td><strong>Pis:</strong></td>
            <td><%= @company.pis %></td>
          </tr>

          <tr>
            <td><strong>Cofins:</strong></td>
            <td><%= @company.cofins %></td>
          </tr>

          <tr>
            <td><strong>Seguro aci trabalho:</strong></td>
            <td><%= @company.seguro_aci_trabalho %></td>
          </tr>
          <tr>
            <td><strong>Reserva técnica:</strong></td>
            <td><%= @company.pct_reserva_tecnica %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to companies_path,class:"btn btn-default btn-sm ajusteButton", type:"button" do %>
      <i class="fa fa-arrow-left"></i> Voltar
      <% end %>
      <%= link_to edit_company_path(@company),class:"btn btn-default btn-sm ajusteButton", type:"button" do %>
      <i class="fa fa-edit"></i> Editar
      <% end %>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.panel-body -->
</div>