<!--<%# @select_all_calculation.salario_minimo %>-->
<div class="showFonteSize">
	<div class="row">
		<div class="col-lg-12">
			<div class="bottons pull-right topHeader" style="position:fixed;right: 2%;z-index: 100">
				<%= link_to "/services/#{@proposal.proposal_roles[0].role.service_id}/proposals/#{@proposal.id}/edit",class:"btn btn-outline btn-success pull-right topHeader ", type:"button" do %>
				<i class="fa fa-edit"></i> Editar
				<% end %>
				<%= link_to "/services/#{@proposal.proposal_roles[0].role.service_id}/proposals",class:"btn btn-outline btn-success pull-right topHeader", type:"button" do %>
				<i class="fa fa-arrow-left"></i> Voltar
				<% end %>
				<%= link_to "/services/#{@proposal.proposal_roles[0].role.service_id}/proposals/#{@proposal.id}.pdf",class:"btn btn btn-danger btn-circle pull-right topHeader",style:'right: 4px;position: relative;', type:"button",target: :_blank do  %>
					<i class="fa fa-file-pdf-o"></i>
				<% end %>
			</div>
		</div>
		<h1 class="page-header topHeader">Proposta: <%= @proposal.codigo_cliente %></h1>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<!--strong><#%= t("activerecord.models.proposals.dias_jornada_ex_semana_all") %></strong-->
			<strong>Cliente:</strong>

			<%= @proposal.cliente %>
			<div class="pull-right modalTopProdutos">
				<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
							Lista de Produtos
				</button>
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog"  style="margin-left: 271px;">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">Lista de Produtos equipamentos e acessorios</h4>
							</div>
						.	
							<div class="modal-body">
								<% if @proposal.proposal_equipaments.blank?%>
								<div class="panel panel-default" style="display:none">
								</div> 
								<% else%>
								<div class="panel panel-default">
									<div class="panel-heading">
										<strong>Equipamentos e acessorios:</strong>
									</div>  
									<div class="panel-body">
											<div class="table-responsive">
												<table class="table table-striped table-bordered table-hover">
													<thead>
														<tr>
															<th class="padraoEspaco1">Nome do equipamento</th>
															<th class="padraoEspaco2">Quantidade de equipamento</th>
															<th>Preço depreciado total</th>
														</tr>
													</thead>
													<tbody>
														<% @proposal.proposal_equipaments.each do |proposal_equipament| %>
														<tr> 
															<!--<#% if proposal_equipament.name_equipament.nil? %>-->
															<td class="showFonteSize"><%= proposal_equipament.name_equipament %></td>
															<td class="showFonteSize"><%= proposal_equipament.quantidade %></td>
															<!-- corrigi -->
															<td class="showFonteSize"><%= number_to_currency(proposal_equipament.valor_depreciado)%></td>
															<!--<#% else %>-->

															<!--<#% end %>--> 
														</tr>
														<% end %>
													</tbody>
												</table>
											</div>
											<p class="showFonteSize">
												<strong>Valor Total dos equipamentos:</strong><%= number_to_currency(@proposal.total_equipamento) %>
											</p>
										</div>
									</div>
									<% end %>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
			</div>
		</div>
		<div class="panel-body">
			<div class="col-lg-12">
				<div class="inline">
					<div class="row">
						<div class="col-sm-4">  
							<p class="showFonteSize">
								<strong>Data de criação:</strong>
								<%= criate_date(@proposal.created_at) %>
							</p> <!--</br></br></br></br></br> -->
						</div>
						<div>
							<!-- Valor das Somas de horas diurno: <#%=@proposal.soma_horas_ex_jorn_refeicao_dia %></br>
							Valor das Somas de horas Noturno: <#%=@proposal.soma_horas_ex_jorn_refeicao_noite %></br>
							valor do feriado: <#%=@proposal.hora_extra_feriado_all %></br>  -->
							<!--valor do horas_extras: <#%=@proposal.horas_extras %></br>-->
							<!--valor do qtdVtPagas: <#%=@proposal.qtd_vt_pagas %></br>
							valor do teste1: <#%=@proposal.teste1 %></br>
							valor do teste2: <#%=@proposal.teste2 %></br>
							valor do teste3: <#%=@proposal.teste3 %></br>
							valor do teste4: <#%=@proposal.teste4 %></br>
							valor do teste5: <#%=@proposal.teste5 %> -->
						</div>
						<div class="col-sm-4">  
							<p class="showFonteSize">
								<strong>Cidade:</strong>
								<%= (@proposal.city.nome) %>
							</p>
						</div>
					</div>
				</div>
				<p class="showFonteSize">
					<strong>Escala:</strong>
					<%= @proposal.rotation.tipo_escala %>
				</p>


				<div class="panel panel-default">
					<div class="panel-heading">
						<strong> Cargos e Salarios </strong>
					</div>
				<div class="panel-body padding-bottom4">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Cargos</th>
									<th>Salarios</th>
									<th>Efetivo </th>
									<th>Qtd. de postos</th>
									<th>Número de funcionários</th>
									<th>Salário efetivo</th>
									<th>Salário efetivo total</th>

								</tr>
							</thead>
							<tbody>
								<% @proposal.proposal_roles.each do |proposal_role| %>
								<tr>
									<!--td><%#= proposal_role.role.service.company.id %></td-->
									<td class="showFonteSize">
										<%= proposal_role.cargo %>
									</td><!--Nome do cargo-->
									<td class="showFonteSize" class="showFonteSize">
										<%= number_to_currency(((@proposal.salario).round(2)*(((proposal_role.gratificacao.to_f).round(2)/100)+1)).round(2))%>
									</td><!--Salario com a gratificação-->
									<td class="showFonteSize">
										<%= @proposal.efetivo_indivitual %><!--valor total do efetivo-->
									</td>
									<td class="showFonteSize">
										<%=  proposal_role.qtd_postos %>
									</td><!--Quandidade de funcionarios-->
									<td class="showFonteSize">
										<%=  @proposal.efetivo_total %><!--Quandidade de funcionarios-->
									</td>
									<td class="showFonteSize">
										<%=  number_to_currency(((((@proposal.salario).round(2))*
											(((proposal_role.role.gratificacao.to_f).round(2)/100)+1)).round(2)*
											(@proposal.rotation.efetivo/@proposal.rotation.qtd_funcionarios.to_f)).round(2))%>
										</td><!--Salario com  e efetivo-->
										<td class="showFonteSize">
											<%=  number_to_currency((((((proposal_role.salario.to_f)*(((proposal_role.gratificacao.to_f)/100)+1))*
											(@proposal.rotation.efetivo/@proposal.rotation.qtd_funcionarios.to_f)))*(@proposal.rotation.qtd_funcionarios*proposal_role.qtd_postos)).round(2)) %>
										</td><!--Quandidade de funcionarios-->
									</tr>
									<% end %>
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
						<p class="showFonteSize totaisStyle">
							<strong>Total de efetivo: </strong><%= (@proposal.efetivo_total).round(2)%><br>
							<strong>Total dos salarios da escala: </strong><%= number_to_currency(@proposal.total_salarios) %><br><!--Salarios totais-->
						</p>	
					</div>
					<!-- /.panel-body -->
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
					 <strong> Mão de obra direta </strong>
				 </div>
				 <div class="panel-body padding-4">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th class="padraoEspaco1">Nome do campo de calculo:</th>
									<th class="padraoEspaco2">Valor do campo p/ calculo:</th>
									<th>Total</th>
								</tr>
							</thead>

							<tbody>
								<%if  @proposal.adcional_periculosidade_insalubridade == 1 %>
									<tr>
										<td class="showFonteSize"> Valor de Periculosidade:</td>  
										<td class="showFonteSize">30% de <%=number_to_currency(@proposal.salario)%></td>
										<td class="showFonteSize"><%=number_to_currency(@proposal.valor_peri_ou_isalubri)%></td>
									</tr>
								<% elsif @proposal.adcional_periculosidade_insalubridade == 2  %>
									<tr>
										<td class="showFonteSize"> Valor de Insalubridade:</td>  
										<td class="showFonteSize"><%=((@proposal.grau_de_insalubridade)*100).round(0)%> % de 
											<%= number_to_currency(@select_all_calculation.salario_minimo)%></td> 
										<td class="showFonteSize"><%=number_to_currency(@proposal.grau_de_insalubridade*@select_all_calculation.salario_minimo)%></td> 
									</tr>
								<% end %>
								<% if @proposal.total_hr_extras >0 %>
									<tr>                 
										<td class="showFonteSize"> Hora extra intervalo e jornada: <b></td>  
										<td class="showFonteSize"> <%= ((@proposal.horas_extras).round(2))%> Hs</td>  
										<td class="showFonteSize"> <%= number_to_currency(@proposal.total_hr_extras) %></td>  
									</tr>
								<% end %>
								<% if @proposal.h_feriado.nil? || @proposal.h_feriado ==0 %>
								<% else %>
									<tr>
										<td class="showFonteSize"> Hora Feriado: </td>  
										<% if @proposal.v_calc != 0 && @proposal.v_calc.nil?  %>
											<td class="showFonteSize"><%= (((@proposal.valor_feriados_de_cities_mv*@proposal.dois_terco)+(@proposal.valor_feriados_de_cities_n*@proposal.um_terco)).round(3)).round(3) %> Hs</td>  
										<% else %>
											<td class="showFonteSize"><%= (@proposal.v_calc).round(2)%> Hs</td>
										<% end %>
										<td class="showFonteSize"><%= number_to_currency(@proposal.total_hr_extras_feriado)  %></td>  
									</tr>
								<% end %>
								<% if @proposal.rotation.ad_vespertido_noturno != 0.0 %>
									<tr>
										<td class="showFonteSize">  Adicional noturno - vespertino:</td>
										<td class="showFonteSize"> <%= (((@proposal.rotation.ad_vespertido_noturno*100)/@select_all_calculation.horasDeCalculoAdNoturno).round(4)*@proposal.rotation.fator_escala).round(4)%> Hs</td>  
										<td class="showFonteSize"> <%= number_to_currency(@proposal.total_hrs_ad_noturno_vespertino) %></td>  
									</tr>
								<%end%>
								<% if @proposal.rotation.ad_noturno != 0.0 %>
									<tr>
										<td class="showFonteSize">  Adicional noturno - noturno:</td>  
											<% if @proposal.total_hrs_ad_noturno != 0 && @proposal.total_hrs_ad_noturno.nil? %>
												<td class="showFonteSize"> 30.44 </td>  
											<% else %>
												<td class="showFonteSize"> <%=@proposal.show_horas.round(5)%> </td>  
											<% end%>
										<td class="showFonteSize"> <%= number_to_currency(@proposal.total_hrs_ad_noturno) %></td>  
									</tr>
								<% end%>
								<tr>
									<td class="showFonteSize">Reflexos sobre a folha - DSR:</td>  
									<td class="showFonteSize"> <%= %> </td>  
									<td class="showFonteSize"> <%= number_to_currency(@proposal.refexo_dsr) %></td>  
								</tr>
								<tr>
									<td class="showFonteSize"> Salário médio base final:</td>  
									<td class="showFonteSize"> <%= %> </td>  
									<td class="showFonteSize"> <%= number_to_currency(@proposal.salario_medio_final) %></td>  
								</tr>
							</tbody>
						</table>
					</div>
					<p class="showFonteSize totaisStyle">
						<strong>Total massa salarial: </strong><%=number_to_currency((@proposal.massa_salarial).round(2))%>
					</p>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong> Obrigações sociais sobre massa salarial:</strong>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr >
										<th class="padraoEspaco1">Tributo: </th>
										<th class="padraoEspaco2">Valor em porcentagem: </th>
										<th>Valor total sobre massa salarila:</th>
									</tr>
								</thead>
								<tbody> 
									<tr>
										<td class="showFonteSize">FGTS</td>
										<td class="showFonteSize"><%=@select_all_calculation.fgts%><span>%</span></td>
										<td class="showFonteSize"><%=number_to_currency(@proposal.obg_fgts)%></td>
									</tr>
									<tr>
										<td class="showFonteSize">INSS</td>
										<td class="showFonteSize"><%=@select_all_calculation.inss%><span>%</span></td>
										<td class="showFonteSize"><%=number_to_currency(@proposal.obg_inss)%></td>
									</tr>
									<tr>
										<td class="showFonteSize">Seguro acidente de trabalho</td>
										<td class="showFonteSize"><%=@proposal.seguro_aci_trabalho%><span>%</span></td>
										<td class="showFonteSize"><%=number_to_currency(@proposal.obgseguro_aci_trabalho)%></td>
									</tr>
									<tr>
										<td class="showFonteSize">Sebrae</td>
										<td class="showFonteSize"><%=@select_all_calculation.sebrae%><span>%</span></td>
										<td class="showFonteSize"><%=number_to_currency(@proposal.obg_sebrae)%></td>
									</tr>
									<tr>
										<td class="showFonteSize">Incra</td>
										<td class="showFonteSize"><%=@select_all_calculation.incra%><span>%</span></td>
										<td class="showFonteSize"><%=number_to_currency(@proposal.obg_incra)%></td>
									</tr>
									<tr>
										<td class="showFonteSize">Salario educação</td>
										<td class="showFonteSize"><%=@select_all_calculation.salario_educacao%><span>%</span></td>
										<td class="showFonteSize"><%=number_to_currency(@proposal.obg_salario_educacao)%></td>
									</tr>
									<tr>
										<td class="showFonteSize">Sesc</td>
										<td class="showFonteSize"><%=@select_all_calculation.sesc%><span>%</span></td>
										<td class="showFonteSize"><%=number_to_currency(@proposal.obg_sesc)%></td>
									</tr>
									<tr>
										<td class="showFonteSize">Senac</td>
										<td class="showFonteSize"><%=@select_all_calculation.senac%><span>%</span></td>
										<td class="showFonteSize"><%=number_to_currency(@proposal.obg_senac)%></td>
									</tr>
								</tbody>
							</table>
						</div>
						<p class="showFonteSize">
							<strong>Total de encargos diretos: </strong><%=number_to_currency(@proposal.total_incargos_diretos)%>
						</p>
					</div>
				</div>
	
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>Provisões sobre massa salarial:</strong>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr >
										<th class="padraoEspaco1">Provisões </th>
										<th class="padraoEspaco2">Valor em porcentagem: </th>
										<th>Valor total sobre provisões salarila:</th>
									</tr>
								</thead>
									<tbody> 
										<tr>
											<td class="showFonteSize">1/12 de Ferias</td>
											<td class="showFonteSize"><%=@select_all_calculation.ferias%><span>%.</span></td>
											<td class="showFonteSize"><%=number_to_currency(@proposal.total_ferias_um_doze_avos)%></td>
										</tr>
										<tr>
											<td class="showFonteSize">1/3 constitucional (1/12 avos)</td>
											<td class="showFonteSize"><%=@select_all_calculation.um_terco_constitucional%><span>%.</span></td>
											<td class="showFonteSize"><%=number_to_currency(@proposal.total_um_terco_consti_um_doze_avos)%></td>
										</tr>
										<tr>
											<td class="showFonteSize"> 13º salario (1/12 avos)</td>
											<td class="showFonteSize"><%=@select_all_calculation.decimo_terceito%><span>%.</span></td>
											<td class="showFonteSize"><%=number_to_currency(@proposal.total_decimo_terceiro_um_doze_avos)%></td>
										</tr>
										<tr>
											<td class="showFonteSize">Inss Sob Ferias, 1/3 constitucional (1/12 avos), 13º salario (1/12 avos) </td>
											<td class="showFonteSize"><%=@select_all_calculation.pct_inss_sob_soma_decimo_um_terco_ferias%><span>%.</span></td>
											<td class="showFonteSize"><%=number_to_currency(@proposal.total_inss_sob_ferias_um_terco_decimo)%></td>
										</tr>
										<tr>
											<td class="showFonteSize"> FGTS 13º, salario 1/3 constitucional, (1/12 avos), 13º salario (1/12 avos)</td>
											<td class="showFonteSize"><%=@select_all_calculation.pct_fgts_sob_soma_decimo_um_terco_ferias%><span>%.</span></td>
											<td class="showFonteSize"><%=number_to_currency(@proposal.total_fgts_sob_ferias_Um_terco_decimo)%></td>
										</tr>
										<tr>
											<td class="showFonteSize">Aviso previo</td>
											<td class="showFonteSize"><%=@select_all_calculation.aviso_previo%><span>%.</span></td>
											<td class="showFonteSize"><%=number_to_currency(@proposal.total_aviso_previo)%></td>
										</tr>
										<tr>
											<td class="showFonteSize"> FGTS indenização sobre FGTS total</td>
											<td class="showFonteSize"><%=@select_all_calculation.indenizacao_fgts%><span>%.</span></td>
											<td class="showFonteSize"><%=number_to_currency(@proposal.total_indenizacao_sobre_fgts)%></td>
										</tr>
									</tbody>
								</table>
							</div>
							<p class="showFonteSize">
								<strong>Total de provisões sobre massa salarial: </strong><%=number_to_currency(@proposal.total_provisao_massa_salarial)%>
							</p>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>Benefícios dos Funcionário:</strong>
						</div>  
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th class="padraoEspaco1">Beneficio </th>
											<th >Quantidade </th>
											<th class="padraoEspaco3">valor unitario:</th>
											<th>Valor total:</th>
										</tr>
									</thead>

									<tbody>
										<% if @proposal.total_cesta.nil? || @proposal.total_cesta ==0 %>
										<% else %>
											<tr>
												<td class="showFonteSize">Cesta básica</td>
												<td class="showFonteSize"><%=@proposal.efetivo_total%></td>
												<td class="showFonteSize"><%=number_to_currency(@proposal.valor_cesta)%></td>
												<td class="showFonteSize"><%=number_to_currency(@proposal.total_cesta)%></td>
											</tr>
										<% end %>
										<% if @proposal.total_vr.nil? || @proposal.total_vr ==0 %>
										<% else %>
											<tr>
												<td class="showFonteSize">Vale refeição.</td>
												<td class="showFonteSize"><%=@proposal.multiplicador %></td>
												<td class="showFonteSize"><%=number_to_currency(@proposal.valor_unitario_vr)%></td>
												<td class="showFonteSize"><%=number_to_currency(@proposal.total_vr)%></td>
											</tr>
										<% end %>
										<% if @proposal.total_assitecia_medica.nil? || @proposal.total_assitecia_medica ==0 %>
										<% else %>
											<tr>
												<td class="showFonteSize">Assitencia medica</td>
												<!--<%#if %>-->
												<td class="showFonteSize"><%=@proposal.efetivo_total%></td>
												<td class="showFonteSize"><%=number_to_currency(@proposal.valor_uni_assist_medica)%></td>
												<td class="showFonteSize"><%=number_to_currency(@proposal.total_assitecia_medica)%></td>
											</tr>
										<% end %>
										<% if @proposal.total_seguro_vida.nil? || @proposal.total_seguro_vida ==0 %>
										<% else %>
											<tr>
												<td class="showFonteSize">Seguro de vida</td>
												<td class="showFonteSize"><%=@proposal.efetivo_total%></td>
												<td class="showFonteSize"><%=number_to_currency(@proposal.valor_unitario_seg_vida)%></td>
												<td class="showFonteSize"><%=number_to_currency(@proposal.total_seguro_vida)%></td>
											</tr>
										<% end %>
											<tr>
												<td class="showFonteSize">Vale Trasporte.</td>
												<td class="showFonteSize"><%=(2*@proposal.qtd_vt_pagas.to_f).round(1)%></td>
												<td class="showFonteSize"><%=number_to_currency(@proposal.valor_passagem)%></td>
												<td class="showFonteSize"><% if @proposal.total_vt == 0.00%>
																										"Não será cobrado"
																									<%else%>
																										<%=number_to_currency(@proposal.total_vt)%>
																									<%end %></td>
											</tr>
										<% if @proposal.total_reciclagem.nil? || @proposal.total_reciclagem ==0 %>
										<% else %>
											<tr>
												<td class="showFonteSize">Reciclagem</td>
												<td class="showFonteSize"><%=@proposal.efetivo_total%></td>
												<td class="showFonteSize"><%=number_to_currency(@proposal.rotation.v_reciclagem)%></td>
												<td class="showFonteSize"><%=number_to_currency(@proposal.total_reciclagem)%></td>
											</tr>
										<% end %>
  									<% if @proposal.total_ppr.nil? || @proposal.total_ppr ==0 %>
										<% else %>
											<tr>
												<td class="showFonteSize">PPR</td>
												<td class="showFonteSize"><%=@proposal.efetivo_total%></td>
												<td class="showFonteSize"><%=number_to_currency(@proposal.valor_unitario_ppr)%></td>
												<td class="showFonteSize"><%=number_to_currency(@proposal.total_ppr)%></td>
											</tr>
										<%end%>
											<tr>
												<td class="showFonteSize">Uniformes</td>
												<td class="showFonteSize"><%=@proposal.efetivo_total%></td>
												<td class="showFonteSize"><%=number_to_currency(@proposal.valor_unitario_uniforme)%></td>
												<td class="showFonteSize"><%=number_to_currency(@proposal.total_uniforme)%></td>
											</tr>
										<% if @proposal.tot_social_familiar.nil? || @proposal.tot_social_familiar == 0 %>
										<% else %>
											<tr>
												<td class="showFonteSize"> Assistência Social Familiar</td>
												<td class="showFonteSize"><%=@proposal.efetivo_total%></td>
												<td class="showFonteSize"><%=number_to_currency(@proposal.valor_soc_familiar)%></td>
												<td class="showFonteSize"><%=number_to_currency(@proposal.tot_social_familiar)%></td>
											</tr>
										<%end%>
										<% if @proposal.tot_ben_natalidade.nil? || @proposal.tot_ben_natalidade ==0 %>
										<% else %>
											<tr>
												<td class="showFonteSize"> Benefício Natalidade</td>
												<td class="showFonteSize"><%=@proposal.efetivo_total%></td>
												<td class="showFonteSize"><%=number_to_currency(@proposal.valor_ben_natalidade)%></td>
												<td class="showFonteSize"><%=number_to_currency(@proposal.tot_ben_natalidade)%></td>
											</tr>
										<%end%>

									</tbody>
								</table>
							</div>
							<p class="showFonteSize">
								<strong>Total dos beneficios: </strong><%=number_to_currency(@proposal.total_beneficios)%>
							</p>
						</div>
					</div>
					<!--Colocar aqui -->
					<h5><strong>Total ( I ):</strong><%= number_to_currency((@proposal.total_mao_de_obra).round(2))%></h5>
					<hr/>
					<% if @proposal.proposal_equipaments.blank?%>
						<div class="panel panel-default" style="display:none">
						</div>
					<% else%>
						<div class="panel panel-default">
							<div class="panel-heading">
								<strong>Equipamentos e acessorios:</strong>
							</div>  
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th class="padraoEspaco1">Nome do equipamento</th>
												<th class="padraoEspaco2">Quantidade de equipamento</th>
												<th>Preço depreciado total</th>
											</tr>
										</thead>
										<tbody>
											<% @proposal.proposal_equipaments.each do |proposal_equipament| %>
												<% if proposal_equipament.equipament.control_print == 1 %>
													<tr> 
														<td class="showFonteSize"><%= proposal_equipament.name_equipament %></td>
														<td class="showFonteSize"><%= proposal_equipament.quantidade %></td>
														<!-- corrigi -->
														<td class="showFonteSize"><%= number_to_currency(proposal_equipament.valor_depreciado)%></td>
													</tr>
												<% end %>
											<% end %>
											<% @proposal.proposal_equipaments.each do |proposal_equipament| %>
												<% if proposal_equipament.equipament.control_print == 0 || proposal_equipament.equipament.control_print.nil? %>
													<tr> 
														<!--<#% if proposal_equipament.name_equipament.nil? %>-->
														<td class="showFonteSize" colspan="2">Equipamentos, EPI’s e acessórios a serem fornecidos estão detalhados em anexo.</td>
														<td class="showFonteSize" > - </td>
													</tr>
													<% break %>
												<% end %>
											<% end %>
										</tbody>
									</table>
								</div>
								<p class="showFonteSize">
									<strong>Valor Total dos equipamentos:</strong><%= number_to_currency(@proposal.total_equipamento) %>
								</p>
							</div>
						</div>
					<% end %>
					<h5><strong>Total (II) - Mão de Obra + Materiais e Equipamentos:</strong><%= number_to_currency((@proposal.total_mao_de_obra+@proposal.total_equipamento).round(2))%></h5>
					<hr/>
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong><h4>Operação, Administração, Materiais e Equipamentos:</h4></strong>
						</div>  
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th class="padraoEspaco1">Operação </th>
											<th colspan="2"> </th>
										</tr>
									</thead>
									<tbody> 
										<tr>
											<td class="showFonteSize">Gestão operacional</td>
											<% if (@proposal.txopracional.nil? || @proposal.txopracional == 0) %>
												<td class="showFonteSize"><%=@select_all_calculation.indiceOperacional%></td>
											<% else %>
												<td class="showFonteSize"><%= @proposal.txopracional %></td>
											<% end %>
											<td class="showFonteSize" style="width: 29%;"><%=number_to_currency(@proposal.valor_indice_operacional)%></td>
										</tr>
										<tr>
											<td class="showFonteSize">Reserva tecnica operacional</td>
											<td class="showFonteSize"><%=@proposal.company.pct_reserva_tecnica%></td>
											<td class="showFonteSize" style="width: 29%;"><%=number_to_currency(@proposal.reserva_tecnica)%></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th class="padraoEspaco1">Adminstração </th>
											<th colspan="2"> </th>
										</tr>
									</thead>
									<tbody> 
										<tr>
											<td class="showFonteSize"> Gestão administrativa</td>
											<% if (@proposal.txadministrativa.nil? || @proposal.txadministrativa == 0) %>
												<td class="showFonteSize"><%= @select_all_calculation.indiceAdministrativo %></td>
											<% else %>
												<td class="showFonteSize"><%= @proposal.txadministrativa %></td>
											<% end %>
											<td class="showFonteSize" style="width: 29%;"><%=number_to_currency((@proposal.valor_indice_administrativo).round(2))%></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div> 
					<h5><strong>Total (III) - Operação e Administração: </strong><%=number_to_currency(@proposal.reserva_operacional_adminstrativo)%></h4>
					<hr/>
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>Impostos </strong>
						</div>
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th class="padraoEspaco1">Nome do campo de calculo:</th>
												<th class="padraoEspaco2">Valor do campo p/ calculo:</th>
											<th>Total</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="showFonteSize">Valor Issqn:</td>                
											<td class="showFonteSize"><%= @proposal.city.issqn %><span>%</span></td>  
											<td class="showFonteSize"><%= number_to_currency((@proposal.valor_issqn).round(2)) %></td>
										</tr>
										<tr>                 
											<td class="showFonteSize">Valor Irrf:</td>  
											<td class="showFonteSize"><%= @proposal.company.irrf %><span>%</span></td>
											<td class="showFonteSize"><%= number_to_currency((@proposal.valor_irrf).round(2)) %></td>  
										</tr>
										<tr>                 
											<td class="showFonteSize">Valor Csll:</td>  
											<td class="showFonteSize"><%= @proposal.company.csll %><span>%</span></td>  
											<td class="showFonteSize"><%= number_to_currency((@proposal.valor_csll).round(2)) %></td>  
										</tr>
										<tr>
											<td class="showFonteSize">Valor Pis:</td>  
											<td class="showFonteSize"><%= @proposal.company.pis %><span>%</span></td>
											<td class="showFonteSize"><%= number_to_currency((@proposal.valor_pis).round(2)) %></td>
										</tr>
										<tr>
											<td class="showFonteSize">Valor Confins:</td>  
											<td class="showFonteSize"><%= @proposal.company.cofins %><span>%</span></td> 
											<td class="showFonteSize"><%= number_to_currency((@proposal.valor_cofins).round(2)) %></td> 
										</tr>
									</tbody>
								</table>
							</div>
							<p class="showFonteSize">
								<strong>Total de Impostos sobre serviços: </strong><%=number_to_currency((@proposal.total_imposto_sob_servico).round(2))%>
							</p>
						</div>
					</div>
					<h5>
						<strong>Total (IV) - Impostos sobre serviços </strong><%=number_to_currency((@proposal.total_imposto_sob_servico).round(2))%>
					</h5>
					<hr/>   
					<h5>
						<strong>DEMONSTRATIVO  DO  CUSTO  FINAL:</strong>
						<ul class="proposal-roda-pe">
							<li>Valor dos Serviços: <%= number_to_currency(@proposal.tot_com_reserva_indce_op_indice_adm.round(2))%></li>
							<li>Valor de Impostos: <%=number_to_currency((@proposal.total_imposto_sob_servico).round(2))%></li>
							<li><strong>Valor de Ajuste de Escala: </strong><%=number_to_currency(@proposal.valor_de_ajuste)%></li>
						</ul>
					</h5>

					<h5 class="page-header topHeader"><strong>VALOR TOTAL MENSAL:</strong> <%=number_to_currency((@proposal.total_para_ajuste).round(2))%></h5>
					<ul class="proposal-roda-pe">
						<li><strong>Média de dias / mês: </strong><%=@proposal.rotation.fator_escala%></li>
						<li>
								<% @proposal.proposal_roles.each do |proposal_role| %>
									<strong>Numero de Funcionarios: </strong><%=@proposal.rotation.qtd_funcionarios*proposal_role.qtd_postos%>
								<%end%>
						</li>
						<li><strong>N.º horas / mês: </strong> <%=@proposal.horas_mes.round%></li>
						<li><strong>Valore Hora: </strong><%=number_to_currency(@proposal.valor_horas_proposta)%></li>
						<li><strong>Valor Dia: </strong><%=number_to_currency(@proposal.valor_dia_proposta)%></li>
					</ul>
					<hr/>
					<h5><strong>(campo não sera impresso) Valor real da Proposta:</strong></h5>
						<ul class="proposal-roda-pe">
							<li>Valor dos Serviços: <%= number_to_currency(@proposal.valor_de_calculo_total.round(2))%></li>
						</ul>
					<% if @proposal.proposal_equipaments.blank? %>
						<div class="panel panel-default" style="display:none">
						</div>
					<% else%>
						<div class="panel panel-default">
							<div class="panel-heading">
								<strong>Equipamentos e acessorios:</strong>
							</div>  
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th class="padraoEspaco1">Nome do equipamento</th>
												<th class="padraoEspaco2">Quantidade de equipamento</th>
												<th>Preço depreciado total</th>
											</tr>
										</thead>
										<tbody>
											<% @proposal.proposal_equipaments.order("created_at").each do |proposal_equipament| %>
												<tr> 
													<!--<#% if proposal_equipament.name_equipament.nil? %>-->
													<td class="showFonteSize"><%= proposal_equipament.name_equipament %></td>
													<td class="showFonteSize"><%= proposal_equipament.quantidade %></td>
													<!-- corrigi -->
													<td class="showFonteSize"><%= number_to_currency(proposal_equipament.valor_depreciado)%></td>
													<!--<#% else %>-->
													<!--<#% end %>--> 
												</tr>
											<% end %>

										</tbody>
									</table>
								</div>
								<p class="showFonteSize">
									<strong>Valor Total dos equipamentos:</strong><%= number_to_currency(@proposal.total_equipamento) %>
								</p>
							</div>
						</div>
					<% end %>
				</div><!-- /.col-lg-12 -->
			</div>
		</div>
	</div>
</div>