</br>
<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Cargo</strong>

  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Nome do Campo</th>
            <th>Valor do campo</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><strong>Cargo: </strong></td>
            <td><%= @role.cargo %></td>
          </tr>

          <tr>
            <td><strong>Salário</strong></td>
            <td><%= @role.salario %></td>
          </tr>
          <tr>
            <td><strong>Gratificação</strong></td>
            <td><%= @role.gratificacao %></td>
          </tr>
          <tr>
            <td><strong>Vale Refeição</strong></td>
            <td><%= @role.vale_refeicao %></td>
          </tr>

          <tr>
            <td><strong>Seguro de Vida</strong></td>
            <td><%= @role.service.tipo_servico%></td> 
          </tr>
          <tr>
            <td><strong>Assistencia Medica</strong></td>
            <td><%= @role.assist_medica %></td>
          </tr>
          <tr>
            <td><strong>Seguro de Vida:</strong></td>
            <td><%= @role.seg_vida %></td>
          </tr>
          <tr>
            <td><strong>Uniforme</strong></td>
            <td><%= @role.uniformes %></td>
          </tr>
          <tr>
            <td><strong>Assistencia Social Familiar</strong></td>
            <td><%= @role.assist_Soc_Familiar %></td>
          </tr>
          <tr>
            <td><strong>Benefício Natalidade</strong></td>
            <td><%= @role.beneficio_Natalidade %></td>
          </tr>
          <tr>
            <td><strong>PPR</strong></td>
            <td><%= @role.ppr %></td>
          </tr>
          <tr>
            <td><strong>Reciclagem</strong></td>
            <td><%= if (@role.reciclagem == 1)  
                      "Sim" 
                    else 
                      "Nao" 
                    end  %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to roles_path,class:"btn btn-default btn-sm ajusteButton", type:"button" do %>
      <i class="fa fa-arrow-left"></i> Voltar
      <% end %>
      <%= link_to edit_role_path(@role),class:"btn btn-default btn-sm ajusteButton", type:"button" do %>
      <i class="fa fa-edit"></i> Editar
      <% end %>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.panel-body -->
</div>
