<p id="notice"><%= notice %></p>

<h1>Listing Proposal Equipaments</h1>

<table>
  <thead>
    <tr>
      <th>Equipament</th>
      <th>Proposal</th>
      <th>Quantidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proposal_equipaments.each do |proposal_equipament| %>
      <tr>
        <td><%= proposal_equipament.equipament %></td>
        <td><%= proposal_equipament.proposal %></td>
        <td><%= proposal_equipament.quantidade %></td>
        <td><%= link_to 'Show', proposal_equipament %></td>
        <td><%= link_to 'Edit', edit_proposal_equipament_path(proposal_equipament) %></td>
        <!--td><#%= link_to 'Destroy', proposal_equipament, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proposal equipament', new_proposal_equipament_path %>
