<h1 class="page-header topHeader">Lista de Cidades</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Cidades</strong>
    <%= link_to new_city_path,class:"btn btn-success dropdown-toggle pull-right botton-barra", type:"button" do %>
    Nova Cidade  
    <% end %>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table id="cityTab" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th style="width: 3%">#</th>
            <th>Nome</th>
            <th>Feriado</th>
            <th>Valetransporte</th>
            <th>Issqn</th>
            <th>Atualizado</th>
            <th colspan="1" class="espaco3E" style="width: 12%"></th>
          </tr>
        </thead>

        <tbody>
          <% @cities.each do |city| %>
          <tr>
            <td style="text-align:center"><%= city.id %></td>
            <td><%= city.nome %></td>
            <td><%= city.feriado %></td>
            <td><%= number_to_currency(city.valeTransporte) %></td>
            <td><%= city.issqn %></td>
            <td><%= update_date(city.updated_at) %></td>
            <td>
              <%= link_to city,class:"btn btn-default btn-sm ", type:"button",title:"Exibir" do %>
                <i class="fa fa-search"></i>
              <% end %>
              <%= link_to edit_city_path(city),class:"btn btn-default btn-sm ", type:" button",title:"Editar" do %>
                <i class="fa fa-edit"></i>
              <% end %>
              <%= link_to city, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-default btn-danger btn-sm ", type:"button",title:"Excluir" do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.panel-body -->
</div>