<%= form_for(@proposal_role) do |f| %>
  <% if @proposal_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposal_role.errors.count, "error") %> prohibited this proposal_role from being saved:</h2>

      <ul>
      <% @proposal_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :proposal_id %><br>
    <%= f.text_field :proposal_id %>
  </div>
  <div class="field">
    <%= f.label :role_id %><br>
    <%= f.text_field :role_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
